*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
a{
  
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
    font-size: 1.5rem;
    
}

a:hover{
    background-color: red;
  
}
ul {
    margin-right: 30px;
  
}

header{
  max-height: 76px;
  
}
header img{
    width:30%;
    margin-left: 80px;
}
@media(max-width:1345px){
    header img{
    margin: 0;
    margin-top: -10px;
     height: 60px;
    }
}
section div{
    width: 100%;
    padding-top: 76px;
   

}
section img{
    width: 100%;
}
section1 .main{
    width: 100%;
    height: 500px;
    background-color: black;
    color: white;
}
section1 .div1{
    width: 40%;
    height: 100%;
    float: left;
    padding-top: 8%;

}
section1 img{
 padding-right: 30px;
float: right;
}
section1 .div2{
    width: 60%;
    height: 100%;
    float: right;
    padding-top: 5%;
    padding-right: 13%;
}
section1 h2{
    font-weight: bold;
    font-size: 2.5rem;
}
section1 p{
    font-weight: lighter;
    font-size: 1.2rem;
}


@media(max-width:1047px){
    section1 .main{
        width: 100%;
        height: 500px;
        background-color: black;
        color: white;
       
    }
  
    section1 .div1{
        width: 100%;
        height: 50%;
         padding-right: 30%;
        padding-top: 8%;
    
    }
   
    section1 .div2{
        width: 100%;
        height: 50%;
        text-align: center;
       padding-left: 10%;
        
    }
    section1 h2{
        font-weight: bold;
        font-size: 2.5rem;
    }
    section1 p{
        font-weight: lighter;
        font-size: 1.2rem;
    }
    #navbarSupportedContent{
       
        width: 100%;
    }
    #hai{
        width: 100%;
        margin-top: -70px;
        text-align: center;
    }
}
section2 .main{
    background-image: url(https://kopiko.com.my/sites/default/files/images/Pack1Table_adjusted.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    width: 100%;
    height: 750px;
}
section2 .div1{
    width: 45%;
    height: 40%;
    float: right;
   margin-top:200px ;
 
}
section2 h1{
    font-size: 5rem;
    color: red;
}
section2 p{
   font-family: sans-serif;
   font-weight: lighter;
   font-size: 1.5rem;
}
section3 .main{
    display: none;
}
section32 .main {
    display: none;
 
 }
 section32 img {
    width: 100%;
 }
@media(max-width:1209px){
    section2 .div1{
        display: none;
    }
    section3 .main{
        display: flex;
        width: 100%;
        height: 500px;
         background-color: #F6ECE1;
         text-align: center;
         

    }
    section3 .div1{
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 5%
    }
    section3 h1{
        font-size: 5rem;
        color: red;
    }
    section3 p{
        font-family: sans-serif;
        font-weight: lighter;
        font-size: 1.5rem;
     }
     section32 .main {
        display: flex;
     
     }
     section32 img {
        width: 100%;
     }
}
section4 .main{
    width: 100%;
    background-image: url(	https://kopiko.com.my/sites/default/files/images/coffee%20bean%20background.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
section4 .div1{
    padding: 10%;
    text-align: center;
}
section5 .main{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 2%;
}
@media(max-width:690px){
    section1 .main{
        width: 100%;
        height: 1000px;
        background-color: black;
        color: white;
       
    }
}